
body{
    display: grid;
    width: 100vw;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}


/* Class Selectors */

/* Right and Left Buttons */
.rightMove{
    transform: translateX(-100vw);
}
.rightMove2{
    transform: translate(-200vw);
}
.leftMove{
    transform: translate(-100vw);
}
.leftMove2{
    transform: translate(-100vw);
}

/* ID Selectors */

#openingSlideSection{
    grid-column: 1/2;
    width: 100vw;
}

#page2{
    width: 100vw;
    grid-column: 2/3;
}

#weeklyList{
    width: 100vw;
    grid-column: 3/4;
}

#bodySection{
    background-color: yellow;
}


